# Server Configuration
PORT=5000

# Allowed client origin URL (CORS setting)
FRONTEND_URL=http://localhost:5173

# Resend API Key Setup
# Sign up at resend.com, generate an API Key, and enter here
RESEND_API_KEY=
